/* COMMON */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 400 !important;
    font-size: 1.2em !important;
}

.container {
    width: 80%;
    margin: auto;
}

/* COLORS */
.primary-color-blue {
    color: #00c9ff;
}

.primary-color-green {
    color: #92fe9d;
}

.secondary-color-blue { /* same as primary blue!!! */
    color: #00c9ff;
}
.secondary-color-pink {
    color: #ff0099;
}
.secondary-color-orange {
    color: #f5af19;
}
.secondary-color-turquoise {
    color: #49e4ce;
}
.secondary-color-purple {
    color: #8e2de2;
}
.secondary-color-green {
    color: #34e89e;
}

.main-text-color {
    color: #aaaaaa;
}

/* NAVBAR STYLE */
.nav-fixed {
    position: relative;
    z-index: 999;
    height: 74px;
}

navbar {
    position: fixed;
    width: 100%;
    background: #fff;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.1), -1px -1px 10px rgba(0, 0, 0, 0.1);
}

.nav-container {
    width: 80%;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    height: 48px;
    margin-top: 14px;
}

navbar ul {
    list-style: none;
    
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    text-decoration: none;
    margin: 8px;
}

navbar li {
    transition: all 0.3s ease-in;
}

navbar li:hover {
    transition: all 0.3s ease-in;
    transform: scale(0.98);
}

/* NAVBAR BUTTONS */
.nav-btn {
    padding: 0.3em 0.9em;
    border: 0;
    border-radius: 0.2em;
    color: #aaa;
    background: #fff;
    font-size: 0.9em;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in;
}

.nav-btn:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.05);
}

.nav-btn:focus {
    outline: 0;
}

.nav-btn-home {
    box-shadow: 7px 7px 10px rgba(0, 201, 255, 0.2) !important;
}

.nav-btn-home:hover {
    box-shadow: 3px 3px 8px rgba(0, 201, 255, 0.3) !important;
}
/* END OF NAVBAR STYLE */

/* FOOTER STYLE */
footer {
    margin-bottom: 0.5em;
}

.footer-line {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo p {
    color: #aaa;
}

.footer-links {
    display: flex;
    align-items: center;
}

.footer-links a {
    color: #000;
}

.footer-links img {
    height: 48px;
    border-radius: 50%;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2);
    padding: 0.2em;
    margin: 0.2em;
    transition: all 0.3s ease-in;
}

.footer-links img:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in;
}

.footer-links img:focus {
    outline: 0;
}

footer h6, footer a {
    margin: 0;
    font-weight: 300;
    color: #bbb;
}
/* END OF FOOTER STYLE */
/* END OF COMMON */

/* --------------------------------HOME PAGE-------------------------------- */
/* INTRO STYLE*/
#intro {
    /* background-image: url("imgs/bg.png"); */
    background: linear-gradient(-45deg, #34e89e, #00c9ff);
    background-position: center;
    width: 100%;
    height: 500px;
    
}

.title {
    text-align: center;
    color: #fff;
    margin: 0;
    padding-top: 100px;
}
/* END OF INTRO STYLE*/

/* SKILLS STYLE */
.skills-title {
    text-align: center;
    font-weight: 300;
    color: #00c9ff;
    font-size: 2em;
}

/* SKILL CARD */
.skill-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.skill-reverse {
    flex-direction: row-reverse;
}

.skill-card-desc {
    width: 40%;
    margin: 0.75em;
}

.skill-title-group {
    display: flex;
    align-items: center;
}

.skill-title-img {
    border-radius: 50%;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.1), -1px -1px 10px rgba(0, 0, 0, 0.1);
    padding: 0.5em;
}

.skill-title {
    font-weight: 300;
    /* color: #00c9ff; */
    margin: 0.5em;
}

.skill-text {
    color: #aaa;
    font-weight: 300;
    font-size: 0.9em;
}

.skill-card-body {
    width: 60%;
    display: flex;
    align-items: center;
    margin: 1em;
}

.skill-img {
    width: 100%;
}

/* SKILL COLORS */
.html-css-color {
    color: #00c9ff;
}
.javascript-color {
    color: #ff0099;
}
.react-color {
    color: #f5af19;
}
.node-mongo-color {
    color: #49e4ce;
}
.python-color {
    color: #8e2de2;
}
.fast-learner-color {
    color: #34e89e;
}
/* END OF SKILLS STYLE */

/* PROJECTS STYLE */
.projects-title {
    text-align: center;
    font-weight: 300;
    color: #34e89e;
    font-size: 2em;
}

.projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-card {
    width: 43%;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.1), -1px -1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.3em;
    margin: 1em;
    height: 20em;
    transition: all 0.3s ease-in;
}

.project-card:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.05);
}

.project-img {
    width: 100%;
    border-radius: 0.3em 0.3em 0 0;
}

.project-title {
    margin: 0.2em;
    font-weight: 400;
}

.project-desc {
    margin: 0.2em;
    color: #aaa;
    font-size: 0.9em;
}

.project-link {
    text-decoration: none;
    color: #34e89e;
}

.project-link:hover {
    text-decoration: underline;
}
/* END OF PROJECTS STYLE */

/* --------------------------------ABOUT PAGE-------------------------------- */
/* --------------------------------CONTACT PAGE-------------------------------- */

/* --------------------------------MOBILE STYLE-------------------------------- */