html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 400 !important;
    font-size: 1.2em !important;
}

.nav-container {
    width: 80%;
    margin: auto;

    display: flex;
    justify-content: space-between;
}

.fixed {
    position: relative;
    z-index: 999;
    height: 74px;
}

.current {
    /* TODO */
}

navbar {
    position: fixed;
    width: 100%;
    background: #fff;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.1), -1px -1px 10px rgba(0, 0, 0, 0.1);
}

navbar img {
    margin-top: 14px;
}

navbar ul {
    list-style: none;

    display: flex;
    justify-content: flex-end;
}

.nav-item {
    text-decoration: none;
    margin: 8px;
}

/* BUTTONS */
.btn {
    padding: 0.3em 0.9em;
    border: 0;
    border-radius: 0.2em;
    color: #aaa;
    background: #fff;
    font-size: 0.9em;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in;
}

.btn:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.05);
}

navbar li {
    transition: all 0.3s ease-in;
}

navbar li:hover {
    transition: all 0.3s ease-in;
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

#intro {
    /* background-image: url("imgs/bg.png"); */
    background: linear-gradient(-45deg, #92fe9d, #00c9ff);
    background-position: center;
    width: 100%;
    height: 500px;
    
}

.title {
    text-align: center;
    color: #fff;
    margin: 0;
    padding-top: 100px;
}