/* COMMON */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 400 !important;
    font-size: 1.2em !important;
}

.container {
    width: 80%;
    margin: auto;
}

/* NAVBAR STYLE */
.nav-fixed {
    position: relative;
    z-index: 999;
    height: 74px;
}

navbar {
    position: fixed;
    width: 100%;
    background: #fff;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.1), -1px -1px 10px rgba(0, 0, 0, 0.1);
}

.nav-container {
    width: 80%;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    height: 48px;
    margin-top: 14px;
}

navbar ul {
    list-style: none;
    
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    text-decoration: none;
    margin: 8px;
}

navbar li {
    transition: all 0.3s ease-in;
}

navbar li:hover {
    transition: all 0.3s ease-in;
    transform: scale(0.98);
}

/* NAVBAR BUTTONS */
.nav-btn {
    padding: 0.3em 0.9em;
    border: 0;
    border-radius: 0.2em;
    color: #aaa;
    background: #fff;
    font-size: 0.9em;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in;
}

.nav-btn:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.05);
}

.nav-btn:focus {
    outline: 0;
}

.nav-btn-home {
    box-shadow: 7px 7px 10px rgba(0, 201, 255, 0.2) !important;
}

.nav-btn-home:hover {
    box-shadow: 3px 3px 8px rgba(0, 201, 255, 0.3) !important;
}
/* END OF NAVBAR STYLE */
/* END OF COMMON */

/* --------------------------------HOME PAGE-------------------------------- */
/* INTRO SECTION STYLE*/
#intro {
    /* background-image: url("imgs/bg.png"); */
    background: linear-gradient(-45deg, #92fe9d, #00c9ff);
    background-position: center;
    width: 100%;
    height: 500px;
    
}

.title {
    text-align: center;
    color: #fff;
    margin: 0;
    padding-top: 100px;
}
/* END OF INTRO SECTION STYLE*/

/* SKILLS STYLE */
.skills-title {
    text-align: center;
    font-weight: 300;
    color: #00c9ff;
    font-size: 2em;
}

/* SKILL CARD */
.skill-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.skill-rotate {
    flex-direction: row-reverse;
}

.skill-card-desc {
    width: 40%;
}

.skill-title-group {
    display: flex;
    align-items: center;
}

.skill-title-img {
    border-radius: 50%;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.1), -1px -1px 10px rgba(0, 0, 0, 0.1);
    padding: 0.5em;
}

.skill-title {
    font-weight: 300;
    /* color: #00c9ff; */
    margin: 0.2em;
}

.skill-text {
    color: #aaa;
    font-weight: 300;
    font-size: 0.9em;
}

.skill-card-body {
    width: 60%;
    display: flex;
    align-items: center;
}

.skill-img {
    width: 100%;
    margin: 16px;
}

/* SKILL COLORS */
.html-css-color {
    color: #00c9ff;
}
.javascript-color {
    color: #ff0099;
}
.react-color {
    color: #f5af19;
}
.node-mongo-color {
    color: #49e4ce;
}
.python-color {
    color: #8e2de2;
}
.fast-learner-color {
    color: #34e89e;
}
/* END OF SKILLS STYLE */

/* --------------------------------ABOUT PAGE-------------------------------- */
/* --------------------------------CONTACT PAGE-------------------------------- */